{% extends 'base.html' %}
{% block title %}
Instructor MAIN
{% endblock %}
{% block content %}
    <body>
        <link rel="stylesheet" href="../templates/css/login.css">
        <div id="courseTeach">
            course teach by you:
            {% for course_teach in courses_teach %}
                <div class="singleCourseTeach">
                    Course Name: {{course_teach.name}}
                    <hr>
                    Course ID: {{course_teach.course_header}}{{course_teach.c_id}}
                    <hr>
                    Enrolled Number: {{enrolled_counts[loop.index-1]}}/{{course_teach.size}} 
                </div>
            {% endfor %}
        </div>
        <div class="grid-parent">
            <div class="grid-child">
                Waitlist Registrations
                {% for waitlist_registration in waitlist_registrations %}
                <div class="singleRegistration">
                    <div>
                        Student Name: {{waitlist_registration.name}}
                        <hr>
                        Student College: {{waitlist_registration.college}}
                        <hr>
                        Student Class Standing: {{waitlist_registration.class_standing}}
                        <hr>
                        Course Registered: {{waitlist_registration.course_header}}{{waitlist_registration.c_id}}
                        <hr>
                        Status: {{waitlist_registration.status}}
                        <hr>
                        Registration Date: {{waitlist_registration.registration_date}}
                    </div>
                    <div>
                        <form method="POST">
                            <input type="hidden" name="course_id" value="{{waitlist_registration.course_id}}"></input>
                            <input type="hidden" name="student_id" value="{{waitlist_registration.student_id}}"></input>
                            <input type="submit" id="deny" name="deny" value="DENY"></input>
                        </form>
                        <hr>
                        <form method="POST">
                            <input type="hidden" name="course_id" value="{{waitlist_registration.course_id}}"></input>
                            <input type="hidden" name="student_id" value="{{waitlist_registration.student_id}}"></input>
                            <input type="submit" id="approve" name="approve" value="APPROVE"></input>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="grid-child">
                Approved Registrations
                {% for approved_registration in approved_registrations %}
                <div class="singleRegistration">
                    <div>
                        Student Name: {{approved_registration.name}}
                        <hr>
                        Student College: {{approved_registration.college}}
                        <hr>
                        Student Class Standing: {{approved_registration.class_standing}}
                        <hr>
                        Course Registered: {{approved_registration.course_header}}{{approved_registration.c_id}}
                        <hr>
                        Status: {{approved_registration.status}}
                        <hr>
                        Registration Date: {{approved_registration.registration_date}}
                    </div>
                    <div>
                        <form method="POST">
                            <input type="hidden" name="course_id" value="{{approved_registration.course_id}}"></input>
                            <input type="hidden" name="student_id" value="{{approved_registration.student_id}}"></input>
                            <input type="submit" id="expel" name="expel" value="EXPEL"></input>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
    <style>
        body{
            text-align: center;
            background: #efefef;
            height: 100vh; 
        }
        .singleCourseTeach{
            padding: 20px;
            text-align: left;
            width:90%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            height: 150px;
            background-color: white;
            overflow: scroll;
            border-radius: 10px;
            font-family: Cursive;
            font-size: 20px;
        }
        .singleRegistration{
            display: grid;
            grid-template-columns: 9fr 1fr;
            grid-gap: 20px;
            padding: 20px;
            text-align: left;
            width:90%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            background-color: white;
            overflow: scroll;
            border-radius: 10px;
            font-family: Cursive;
            font-size: 20px;
        }
        #courseTeach{
            height: 300px;
            width: 90%;
            margin-top: 20px;
            margin-left:auto;
            margin-right: auto;
            border-style: none;
            background-color: rgb(211, 209, 209);
            -webkit-box-shadow: 0 0 10px rgb(207, 204, 204);
            box-shadow: 0 0 10px rgb(207, 204, 204);
            overflow: scroll;
            border-radius: 10px;
            font-size: 25px;
            font-family: cursive;
        }
        .grid-child{
            border-style: none;
            height: 60vh;
            margin-top: 20px;
            padding: 20px;
            font-size: 25px;
            font-family: cursive;
            border-radius: 10px;
            background-color: rgb(211, 209, 209);
            -webkit-box-shadow: 0 0 10px rgb(207, 204, 204);
            box-shadow: 0 0 10px rgb(207, 204, 204);
            overflow: scroll;
        }
        input{
            font-family: Cursive;
            font-size: 20px;
        }
        .grid-parent{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    </style>

{% endblock %}